/* CSS for LDAP Tool Box Self Service Password */

html, body {
  background: #eee;
  padding-top: 5px;
  font-size: 13px;
}

.panel, .alert, .navbar-wrapper {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.panel {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  width : 530px;
  margin: 0 auto;
}
.panel-body {
  padding: 15px 15px 0 15px;
}

img.logo {
  margin-bottom: 20px;
}

.title h1 {
  font-size: 20pt;
}

.result p {
  font-size: 14pt;
}

.result i.fa {
  font-size: 18pt;
  margin-right: 10px;
}

.help i.fa {
  font-size: 14pt;
  margin-right: 5px;
}

input {
 height : 30px;
 width : 200px;
 font-size : 13px;
}
.form-horizontal {
  width : 520px;
}
label {
float : left;
}
.col-sm-8 {
  width : 55%;
  float :right;
  margin-right : 60px;
}

.alert-success, .alert-warning {
  margin-bottom : 10px;
}

